//
//  Local.xcconfig
//  WatchWhat
//
//  Created by Drew Miller on 3/7/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SIMPLE_SLASH=/

BASE_URL=http:$(SIMPLE_SLASH)/localhost:7071/api/graphql
EMULATOR=localhost
EMULATOR_PORT=9099
OFFLINE=false
