@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body {
  animation: fadein 2s;
  font-family: 'Dosis', sans-serif;
}

.bg-layer-0 {
  background-color: #000000;
}

.bg-layer-1 {
  background-color: rgb(18, 18, 18);
}

.bg-layer-2 {
  background-color: rgb(24, 24, 24);
}

.bg-hover {
  background-color: #282828;
}

.text-subtitle {
  @apply opacity-70;
}